$col1: #FFFFFF;
$col2: #FFFFFFC9;
$col3: #3C3C3C;
$col4: #000000;
$col5: #3C3C3C26;
$col6: #707070;
$col7: #F0F1F1;
$col8: #5E5322;
$col9: #00000000;
$col10: #FAD648;
$col11: #737373;
$col12: #1A1818;









