// import '../scss/settings/_colors.scss';

.AboutUsContainer {
    width: 1900px;
    color: #F07070;

}

.AboutUs
            .AboutUsScr
            .AboutUsDec
            .AboutUsSig
            .AboutUsImg {
            background-image: '../../a';
        }