@import '../../scss/settings/_colors.scss';
@import '../../scss/settings/fonts';

.ThreeColumnsBackground {
    display: flex;
    pos
    background-color: $col10;
    width: 1900px;
    height: 384px;

    .h1 {
        font-family: $font-base;
        font-size: 90px;
        font-weight: light;
        color: $col8;

    }
}