@import '../../scss/settings/_colors.scss';
@import '../../scss/settings/fonts';

.ThreeColumnsBackground {
    display: flex;
    position: absolute;
    justify-content: space-between;
    background-color: $col10;
    width: 1900px;
    height: 384px;

    .h1 {
        top: 1010px;
left: 924px;
width: 52px;
height: 122px;
        font-family: $font-base;
        font-size: 90px;
        font-weight: light;
        color: $col8;

    }
}