.Head {
    display: flex;

    .LeftHeadImg {
    background: transparent url('../../assets/Home-Hero-Image.jpg');
    height: 936px;
    width: 1368px;
    margin-top: 0%;
    margin-left: -483px;
    opacity: 1;


}
}



